/*========================= Fonts =========================*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*========================= Global Styles =========================*/
body,
html {
  overflow-x: hidden;
  /* Prevents horizontal scrolling */
}

body {
  margin: 0;
}

/*========================= Navbar Styles =========================*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #fff;
}

.navbar .logo img {
  height: 40px;
  width: auto;
  padding: 6% 0 6% 0;
}

/*========================= Hero Section =========================*/
.hero_section {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #000000;
  background-image: url(./images/header\ background\ image.png);
  color: #ffffff;
  position: relative;

}


.hero_section h5 {
  color: #fb4409;
  letter-spacing: 1px;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  /* Removes any default margin */
  margin-top: -2%;
}

.hero_section h1 {
  z-index: 12;
  color: #ffffff;
  text-align: center;
  letter-spacing: .7px;
  font-family: Oswald, sans-serif;
  font-size: 4.9rem;
  line-height: 1;
  position: relative;
  padding: 0 5% 0 5%;
  margin-top: -2%;
}

.hurry-up-image {
  display: block;
  /* Ensures it's treated like a block element */
  margin: 6% auto;
  /* Center the image horizontally */
  object-fit: cover;
  /* Maintains aspect ratio and fills the defined width/height */
}


/*========================= Overlay Fade Effects =========================*/
.overlay-fade-bottom-top {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0.85) 30%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
}

.overlay-fade-bottom {
  height: 24px;
  width: 100vw;
  /* Ensures it takes up the full viewport width */
  position: absolute;
  bottom: 0;
  left: 0;
  /* Explicitly setting left to 0 to remove any potential gaps */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.85) 70%, rgba(0, 0, 0, 1) 85%);

  /* Reset margin */
  padding: 0;
  /* Reset padding */
}

/*========================= Fog Effect =========================*/
.fog-effect {
  height: 90px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(14, 14, 14, 1) 23%, rgba(186, 186, 186, 1) 66%, rgba(255, 255, 255, 1) 100%);
}

/*========================= Break Line =========================*/
.break-line {
  justify-content: center;
  display: flex;
  background-color: #000000;
}

/*========================= Section 51 =========================*/
.section-51 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 5vw;
  display: flex;
  position: relative;
}

.section-51.thin-section {
  background-image: radial-gradient(circle, #deec0a, #ffbf00 33%, #006bff00);
  width: 90%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1px;
  padding-bottom: 0;
}

.section-51.thin-section.digital-launchpad {
  background-image: radial-gradient(circle, #e33a0d, #e33a0d 33%, #006bff00);
  width: 100%;
}

.gradient-line {
  opacity: .8;
  background-image: linear-gradient(to right, #0000, #e33a0d 25%, #b7bbc5 50%, #e33a0d 70%, #0000);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
}

.gradient-line.digital-launchpad {
  background-image: linear-gradient(90deg, transparent, #e33a0d 25%, var(--neon-red) 50%, #e33a0d 72%, transparent);
}

/*========================= Story Section =========================*/
.story_section .chapter-1 .story_content h4 {
  line-height: 2;
  z-index: 12;
  color: #212529ec;
  font-family: Inter, sans-serif;
  margin-bottom: 0;
}

.story_section .chapter-1 .story_content h4 span {
  display: block;
}

.story_section {
  padding: 2rem;
  background-color: #fff;
  color: #212529;
  margin-top: 20px;
  font-family: Inter, sans-serif;
  font-size: 26px;
}

.story_section .chap_head {
  margin-bottom: 1rem;
  text-align: center;
}

.story_section .chap_head h2 {
  font-size: 2rem;
  margin: 0;
  color: #212529;
  font-family: Inter, sans-serif;
}

.story_section .story_content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.6;
  color: #555;
}

.story_section .story_content p {
  font-family: Inter, sans-serif;
  margin-bottom: 1rem;
  color: #212529ec;
}

/*========================= Story Tone Change =========================*/
/* Full-screen width background for .chapter-2 */
.story_section .chapter-2 {
  background-color: #fff5f3;
  width: 100vw;
  /* Full viewport width */
  margin-left: calc(-50vw + 50%);
  /* Center the element */
  margin-right: calc(-50vw + 50%);
  /* Counteract the padding on both sides */
}

.story_section .chapter-2 .chap_head {
  padding-top: 1rem;
}

.story_section .chapter-2 p {
  padding-bottom: 1rem;
}

.story_section .chapter-3 .chap_head {
  margin-top: 10%;
  margin-bottom: 10%;
}

/*========================= Author Section =========================*/

.author_name {
  text-align: right;
  padding-top: 2%;
}

/*========================= Responsive Styles =========================*/

/* Tablet and Above (991px) */
@media screen and (max-width: 991px) {
  .navbar .logo img {
    padding: 16% 0 16% 0;
  }

  .hero_section {
    padding: 1.5rem 0.5rem;
    background-size: contain;
  }

  .hero_section h1 {
    font-size: 2.6rem;
    line-height: 1.2;
    padding: 0;
    margin-top: -4%;

  }

  .story_section h4 {
    font-size: 1.4rem;
    margin: 0 0 10% 0;
  }

  .hurry-up-image {
    max-width: 250px;
    /* Smaller max width for tablets */
  }

  .hero_section h5 {
    font-size: 1.2rem;
    margin-top: 6%;
  }

  .story_section {
    padding: 1rem;
  }

  .story_section .chap_head h2 {
    font-size: 1.8rem;
    line-height: 1;
  }

  .story_section .story_content {
    margin-bottom: 1%;
  }

  .story_section .story_content p {
    font-size: 1.4rem;
  }

  .story_section .chapter-2 {
    padding-bottom: 10%;
  }

  .story_section .chapter-2 .chap_head {
    padding-top: 2rem;
  }

  .story_section .chapter-2 p {
    padding: 0 1rem 0 1rem;
  }
}

/* Mobile (768px) */
@media screen and (max-width: 768px) {
  .navbar .logo img {
    padding: 16% 0 16% 0;
  }

  .hero_section {
    padding: 1.5rem 0.5rem;
    background-size: contain;
  }

  .hero_section h1 {
    font-size: 2.4rem;
    line-height: 1.2;
    padding: 0;
    margin-top: -4%;

  }

  .hurry-up-image {
    max-width: 250px;
    /* Smaller max width for tablets */
  }

  .story_section h4 {
    font-size: 1.4rem;
    margin: 0 0 10% 0;
  }

  .hero_section h5 {
    font-size: 1.2rem;
    margin-top: 6%;
  }

  .story_section {
    padding: 1rem;
  }

  .story_section .chap_head h2 {
    font-size: 1.8rem;
    line-height: 1;
  }

  .story_section .story_content {
    margin-bottom: 1%;
  }

  .story_section .chapter-2 {
    padding-bottom: 10%;
  }

  .story_section .story_content p {
    font-size: 1.4rem;
  }

  .story_section .chapter-2 .chap_head {
    padding-top: 2rem;
  }

  .story_section .chapter-2 p {
    padding: 0 1rem 0 1rem;
  }
}

/* Mobile Small (479px) */
@media screen and (max-width: 479px) {
  .navbar .logo img {
    padding: 16% 0 16% 0;
  }

  .hero_section {
    padding: 1.5rem 0.5rem;
    background-size: contain;
  }

  .hero_section h1 {
    font-size: 2.4rem;
    line-height: 1.2;
    padding: 0;
    margin-top: -4%;

  }

  .hurry-up-image {
    max-width: 90%;
    /* Smaller max width for tablets */
  }

  .story_section h4 {
    font-size: 1.4rem;
    margin: 0 0 10% 0;
  }

  .hero_section h5 {
    font-size: 1.2rem;
    margin-top: 6%;
  }

  .story_section {
    padding: 1rem;
  }

  .story_section .chap_head h2 {
    font-size: 1.8rem;
    line-height: 1;
  }

  .story_section .story_content {
    margin-bottom: 1%;
  }

  .story_section .chapter-2 {
    padding-bottom: 10%;
  }

  .story_section .story_content p {
    font-size: 1.4rem;
  }

  .story_section .chapter-2 .chap_head {
    padding-top: 2rem;
  }

  .story_section .chapter-2 p {
    padding: 0 1rem 0 1rem;
  }
}

/*========================= Content Text Styles =========================*/
.highlight {
  font-weight: bolder;
  color: #111317f1;
}

.content_itali {
  font-weight: 500;
  font-style: italic;
  background-color: yellow;
}

.with_background {
  background-color: yellow;
}

.txt_center {
  font-weight: 500;
  font-style: italic;
  color: #111317f1;
}

.dollar {
  color: #85BB65;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<---> ⚠️ Importat Style ⚠️ <----->!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* Initially hide mobile and desktop headlines */
.headline.desktop {
  display: block;
  /* Display desktop version by default */
}

.headline.mobile {
  display: none;
  /* Hide mobile version by default */
}

@media screen and (max-width: 768px) {
  .headline.desktop {
    display: none;
    /* Hide desktop version on mobile */
  }

  .headline.mobile {
    display: block;
    /* Show mobile version on mobile */
  }
}

@media screen and (max-width: 479px) {
  .headline.desktop {
    display: none;
    /* Hide desktop version on very small screens */
  }

  .headline.mobile {
    display: block;
    /* Show mobile version on very small screens */
  }

  .hero_section h1 {
    line-height: 1.4;
  }

  .hero_section h1 span {
    display: block;
    /* Stack the spans on very small screens */
    width: 100%;
    /* Force spans to take full width */
  }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!<---> ⚠️ Importat Style End ⚠️ <----->!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*Button style*/

.cta-button {
  display: inline-block;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-transform: capitalize;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-family: Inter, sans-serif;
  width: 40%;
  max-width: 90%;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #ff4800;
}

.cta-button::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: none;
  /* Remove the gradient effect */
}

.cta-button:hover::before,
.cta-button.active-shine::before {
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.767), rgba(255, 255, 255, 0));
  transition: top 0.5s, left 0.5s;
  transform: rotate(-45deg);
}

.cta-button:hover {
  background-color: #ff4800;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(255, 72, 0, 0.8);
}



/* Breakpoint: Up to 991px (Tablets in landscape mode) */
@media (max-width: 991px) {
  .cta-button {
    width: 80%;
    /* Slightly smaller button */
    font-size: 1.2rem;
    /* Reduce font size slightly */
    padding: 14px 25px;
    /* Adjust padding */
    border-radius: 6px;
    /* Space below the button */
  }
}

/* Breakpoint: Up to 768px (Tablets in portrait mode) */
@media (max-width: 768px) {
  .cta-button {
    width: 80%;
    /* Scale width to 80% of the viewport */
    font-size: 1.2rem;
    /* Reduce font size further */
    padding: 12px 20px;
    /* Adjust padding */
    border-radius: 6px;
    /* Space below the button */
  }
}

/* Breakpoint: Up to 479px (Mobile phones) */
@media (max-width: 479px) {
  .cta-button {
    width: 80%;
    /* Full width for small screens */
    font-size: 1.2rem;
    /* Smaller font size */
    padding: 10px 15px;
    /* Reduce padding */
    border-radius: 6px;
    /* Space below the button */
  }
}

/*============Spot Booking Button=============*/

.cta-button_spt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  /* Larger bold font size */
  font-weight: bold;
  /* Make text bold */
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-family: Inter, sans-serif;
  width: 40%;
  max-width: 90%;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #ff4800;
}

.cta-button_spt::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: none;
  /* Remove the gradient effect */
}

.cta-button_spt:hover::before,
.cta-button_spt.active-shine::before {
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.767), rgba(255, 255, 255, 0));
  transition: top 0.5s, left 0.5s;
  transform: rotate(-45deg);
}

.cta-button_spt:hover {
  background-color: #ff4800;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(255, 72, 0, 0.8);
}

/* Responsive styles for .cta-button_spt */

/* Breakpoint: Up to 991px (Tablets in landscape mode) */
@media (max-width: 991px) {
  .cta-button_spt {
    width: 80%;
    /* Different width */
    font-size: 1.4rem;
    /* Slightly smaller font */
    padding: 10px 50px 10px 50px;
    /* Adjusted padding */
    border-radius: 8px;
    /* Different border radius */
  }
}

/* Breakpoint: Up to 768px (Tablets in portrait mode) */
@media (max-width: 768px) {
  .cta-button_spt {
    width: 80%;
    font-size: 1.2rem;
    padding: 10px 50px 10px 50px;
    border-radius: 8px;
  }
}

/* Breakpoint: Up to 479px (Mobile phones) */
@media (max-width: 479px) {
  .cta-button_spt {
    width: 80%;
    height: 100%;
    font-size: 1.2rem;
    padding: 10px 50px 10px 50px;
    border-radius: 8px;
  }
}